@import 'tailwindcss';

:root {
	--color-primary: #2563eb;
	--color-primary-dark: #1d4ed8;
}

body {
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
}
